APP_TITLE=Proyecto de vacaciones
STUDENT_NAME=Efrain Uziel Acosta Rodriguez
VACATION_START_DATE=2026-03-27
VACATION_END_DATE=2026-04-10

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=tarea_uziel
DB_USER=postgres
DB_PASS=tu_contraseña
